# SPDX-License-Identifier: MIT
# Copy from https://github.com/sysprog21/fibdrv/blob/ef0a87f935c9a401b2c2788634e2fb2660d4894d/.gitignore

# Prerequisites
*.d
.cache.mk

# Object files
*.o
*.ko
*.elf

# Linker output
*.map

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# test-oriented
# client
out

# vscode config
.vscode
